{# Login page header partial #}
<div class="header">
    <div class="header-left">
        <a href="{{ path('app_landing_page') }}" class="logo-link">
            <img src="{{ asset('img/logomain.png') }}" alt="Mark & Motion">
        </a>
    </div>
</div>

