{# Designer footer #}
<footer class="footer-designer">
    <div class="footer-container">
        <div class="footer-simple">
            <p class="footer-tagline">© 2025 Mark & Motion.</p>
            <div class="footer-links">
                <a href="javascript:void(0)" class="footer-link">Terms of Service</a>
                <span>·</span>
                <a href="javascript:void(0)" class="footer-link">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
